<!DOCTYPE html>
<style>
  img {
    width: 60%;
    height: auto;
  }
</style>

<html>
  <title>Card Images</title>
  <h1>Card Images</h1>
  <a href="{{ url_for('index') }}">Home</a>

  <table>
    {% for sublist in list %}
    <tr>
      {% for item in sublist %}
      <td>
        <a href="{{ url_for('image', filename=item) }}">
          <img src="{{ url_for('image', filename=item) }}" alt="{{ item }}" />
        </a>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</html>
