<h1>Search a card by id by using /cards</h1>
<p>Accepted GET parameters are:</p>
<table>
  <tr>
    <th>Name</th>
    <th>GET Parameter</th>
  </tr>
  <tr>
    <td>Card Id</td>
    <td>id</td>
  </tr>
  <tr>
    <td>Card Name</td>
    <td>name</td>
  </tr>
  <tr>
    <td>Card Type</td>
    <td>type</td>
  </tr>
  <tr>
    <td>LRIG Type/Class</td>
    <td>class</td>
  </tr>
  <tr>
    <td>Card Text</td>
    <td>text</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>color</td>
  </tr>
  <tr>
    <td>Level</td>
    <td>level</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>cost</td>
  </tr>
  <tr>
    <td>Grow Cost</td>
    <td>grow_cost</td>
  </tr>
  <tr>
    <td>Team</td>
    <td>team</td>
  </tr>
  <tr>
    <td>Power</td>
    <td>power</td>
  </tr>
  <tr>
    <td>Limits</td>
    <td>limits</td>
  </tr>
  <tr>
    <td>Timing</td>
    <td>timing</td>
  </tr>
  <tr>
    <td>Power Text</td>
    <td>power_text</td>
  </tr>
  <tr>
    <td>Flavor Text</td>
    <td>flavor_text</td>
  </tr>
  <tr>
    <td>Product</td>
    <td>product</td>
  </tr>
  <tr>
    <td>Rarity</td>
    <td>rarity</td>
  </tr>
  <tr>
    <td>Artist</td>
    <td>artist</td>
  </tr>
</table>
<p>For disjunctive search, use &or</p>
<p>You can get card images by using /img/&lt;cardid&gt;</p>